---
import Button from "../../attoms/button";
import { ButtonType } from "../../attoms/button/types";
---

<div class="flex flex-col w-full">
  <div
    class="flex flex-col bg-mto_dark_gray w-full justify-center items-center pb-4 md:flex-row md:justify-between md:px-20"
  >
    <div class="flex gap-4 items-center justify-center">
      <!-- MTO Logo -->
      <img
        src="/mto/mto_transparent_background.svg"
        class="w-22 md:w-32"
        alt="mto_logo"
      />
      <span class="text-white text-base md:hidden">ManyToOne</span>
    </div>
    <div class="flex text-mto_blue flex-wrap gap-3 md:flex-col md:gap-1">
      <!-- navs -->
      <Button type={ButtonType.NAV} link="/#home">Home</Button>
      <Button type={ButtonType.NAV} link="/#aboutus">About us</Button>
      <Button type={ButtonType.NAV} link="/#teams">Teams</Button>
      <Button type={ButtonType.NAV} link="/#events">Events</Button>
      <Button type={ButtonType.NAV} link="/#contactus">Contact us</Button>
    </div>
  </div>
  <div
    class="flex gap-1 py-1 bg-mto_gray w-full justify-center text-xs lg:text-base"
  >
    <span class="text-white">©2024 - Copyright 2024. Made with ♡</span>
    <a href="https://mtocommunity.com/" class="text-mto_blue">ManyToOne</a>
  </div>
</div>
