---
/*!
 * Copyright (c) 2025 ManyToOne Community
 * Licensed under the GPL-3.0 or later License: https://github.com/mtocommunity/landing-page/blob/master/LICENSE.md
 */

import Layout from "../../layouts/event/index.astro";
import Button from "../../components/general/attoms/button";
import CustomNavBar from "../../components/general/organism/custom_navbar";
import Agenda from "../../components/events/organism/Agenda.astro";
import Speaker from "../../components/events/molecule/Speaker.astro";

import { landing_net } from "../../assets";
import { ButtonType } from "../../components/general/attoms/button/types";
import { wave2 } from "../../assets/svgs";
import { ReactComponent as Clock } from "@assets/icons/clock.svg";

import type { EventAgenda } from "../../types";

const agenda: EventAgenda = {
  days: [
    {
      title: "Día 1",
      date: new Date("2025-04-08 GMT-0500"),
      items: [
        "¿Qué es el modelo OSI?",
        "Capas del modelo OSI",
        "¿Qué es el modelo TCP/IP?",
        "Capas del modelo TCP/IP",
        "Modelo OSI vs. TCP/IP",
      ],
    },
  ],
};

const props = {
  title: "Modelo OSI vs TCP/IP",
  description:
    "Sé parte de uno de los eventos a cargo del equipo de Net, aquí aprenderás sobre el funcionamiento y estructura de las redes.",
  path: "event/net-seminario-modelo-osi-vs-tcp",
};
---

<Layout {...props}>
  <div class="text-white">
    <CustomNavBar fixed full client:load>
      <a href="#agenda">Agenda</a>
      <a href="#ponentes">Ponentes</a>
    </CustomNavBar>

    <!-- Principal -->
    <main
      id="home"
      class="min-h-screen relative flex items-center justify-center"
    >
      <img
        src={landing_net}
        alt={landing_net}
        class="absolute top-0 object-cover w-full h-full blur-[1px] -z-20 overflow-hidden"
      />
      <div
        class="absolute top-0 w-full h-full from-mto_gray to-mto_dark_gray bg-gradient-to-b -z-10 opacity-80"
      >
      </div>
      <div class="flex flex-col gap-32 items-center">
        <div class="w-3/4">
          <h1 class="text-2xl font-bold text-center pb-4">
            Modelo OSI vs. TCP/IP: Fundamentos y Simulación en Packet Tracer
          </h1>
          <p class="text-sm text-center">
            Explora y compara los modelos OSI y TCP/IP con simulaciones
            prácticas en Packet Tracer. ¡Aprende desde la base!
          </p>
        </div>
        <Button
          type={ButtonType.DISABLED}
          className="w-2/3 flex gap-2 justify-center items-center"
        >
          <Clock className="w-4 fill-gray-500" />
          <span>Inscripciones cerradas</span>
        </Button>
      </div>
    </main>

    <!-- Agenda -->
    <section
      class="agenda-container bg-gradient-to-t from-mto_blue_dark to-mto_dark_gray pt-16 flex flex-col xl:items-center"
      id="agenda"
    >
      <h2 class="text-center text-white text-5xl font-bold mb-12 xl:w-2/3">
        Agenda
      </h2>

      <Agenda agenda={agenda} className="bg-slate-300" />

      <img
        src={wave2.src}
        alt={wave2.src}
        class="w-full object-cover object-center aspect-[5/1] xl:aspect-[10/1]"
      />
    </section>
    <!-- Ponentes-->
    <div id="ponentes" class="bg-white pt-0">
      <img
        src={wave2.src}
        alt={wave2.src}
        class="w-full object-cover object-center rotate-180 aspect-[5/1] xl:aspect-[10/1]"
      />
      <div class="flex flex-col items-center gap-16">
        <h2 class="text-5xl text-mto_gray font-bold">Ponentes</h2>
        <div class="flex flex-col items-center xl:flex-row xl:gap-8 pb-32">
          <!-- Ponentes -->

          <Speaker
            avatarUrl="https://cdn.mtocommunity.com/staff-abner-cubas-parra.jpg"
            name="Abner Cubas"
            role="Líder de Net Team"
          />
          <Speaker
            avatarUrl="https://cdn.mtocommunity.com/staff-briggitte-martinez-vidaurre.jpg"
            name="Briggitte Martinez"
            role="Líder de Net Team"
          />
        </div>
      </div>
    </div>
  </div>
</Layout>
