---
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
import Layout from "../../layouts/landing/index.astro";

import "../../styles.css";
import "./_style.css";
import {
  faLaptopCode,
  faNetworkWired,
  faRobot,
} from "@fortawesome/free-solid-svg-icons";
---

<Layout title="Equipos - MTO Community">
  <main class="flex flex-col w-vw overflow-x-hidden min-h-dvh items-center">
    <div class="absolute opacity-25 -z-20 bg-grid-container">
      <div class="bg-grid"></div>
    </div>
    <div
      class="bg-gradient-to-br from-mto_dark_gray via-mto_blue/20 from-0% to-mto_dark_gray to-40% aspect-square -z-30 absolute left-0 top-0 h-[100dvh] w-full"
    >
    </div>
    <div class="flex flex-col pt-24 items-center">
      <h1 class="text-white text-2xl font-main_sans font-bold lg:text-3xl">
        Nuestros Equipos
      </h1>
      <p class="text-gray-400 font-lora lg:text-sm">
        ¡Explora, conecta y crece junto a nosotros!
      </p>
    </div>
    <ul class="flex flex-col text-white w-full px-8 gap-8 mt-10">
      <li class="flex flex-col w-full gap-4 lg:flex-row">
        <img
          src="https://cdn.mtocommunity.com/landing-dev-team.webp"
          alt="https://cdn.mtocommunity.com/landing-dev-team.webp"
          class="w-full rounded-xl lg:w-1/2"
        />
        <div
          class="bg-gradient-to-tr from-mto_red from-70% to-mto_dark_gray p-[2px] rounded-xl w-full lg:h-auto lg:aspect-square lg:w-auto"
        >
          <div
            class="bg-black flex flex-col items-center justify-center bg-gradient-to-br to-mto_red/10 from-black p-10 h-full rounded-xl"
          >
            <FontAwesomeIcon
              icon={faLaptopCode}
              className="w-[5rem] text-[5rem]"
            />
            <span>DEV-TEAM</span>
          </div>
        </div>
      </li>
      <li class="flex flex-col w-full gap-4 lg:flex-row">
        <img
          src="https://cdn.mtocommunity.com/landing-iot-team.webp"
          alt="https://cdn.mtocommunity.com/landing-iot-team.webp"
          class="w-full rounded-xl"
        />
        <div
          class="bg-gradient-to-tr from-mto_blue from-70% to-mto_dark_gray p-[2px] rounded-xl w-full"
        >
          <div
            class="bg-black flex flex-col items-center justify-center bg-gradient-to-br to-mto_blue/10 from-black p-10 h-full rounded-xl"
          >
            <FontAwesomeIcon icon={faRobot} className="w-[5rem] text-[5rem]" />
            <span>IOT-TEAM</span>
          </div>
        </div>
      </li>
      <li class="flex flex-col w-full gap-4 lg:flex-row">
        <img
          src="https://cdn.mtocommunity.com/landing-net-team.webp"
          alt="https://cdn.mtocommunity.com/landing-net-team.webp"
          class="w-full rounded-xl"
        />
        <div
          class="bg-gradient-to-tr from-mto_red from-70% to-mto_dark_gray p-[2px] rounded-xl w-full"
        >
          <div
            class="bg-black flex flex-col items-center justify-center bg-gradient-to-br to-mto_red/10 from-black p-10 h-full rounded-xl"
          >
            <FontAwesomeIcon
              icon={faNetworkWired}
              className="w-[5rem] text-[5rem]"
            />
            <span>NET-TEAM</span>
          </div>
        </div>
      </li>
      <li class="flex flex-col w-full gap-4 text-gray-400 lg:flex-row">
        <img
          src="https://cdn.mtocommunity.com/landing-os-team.webp"
          alt="https://cdn.mtocommunity.com/landing-os-team.webp"
          class="w-full rounded-xl grayscale"
        />
        <div
          class="bg-gradient-to-tr from-mto_gray from-70% to-mto_dark_gray p-[2px] rounded-xl w-full"
        >
          <div
            class="bg-black flex flex-col items-center justify-center bg-gradient-to-br to-mto_gray/10 from-black p-10 h-full rounded-xl"
          >
            <FontAwesomeIcon
              icon={faLaptopCode}
              className="w-[5rem] text-[5rem]"
            />
            <span class="text-center"
              >OS-TEAM<br />(Inactivo temporalmente)</span
            >
          </div>
        </div>
      </li>
      <li class="flex flex-col w-full gap-4 text-gray-400 lg:flex-row">
        <img
          src="https://cdn.mtocommunity.com/landing-security-team.webp"
          alt="https://cdn.mtocommunity.com/landing-security-team.webp"
          class="w-full rounded-xl grayscale"
        />
        <div
          class="bg-gradient-to-tr from-mto_gray from-70% to-mto_dark_gray p-[2px] rounded-xl w-full"
        >
          <div
            class="bg-black flex flex-col items-center justify-center bg-gradient-to-br to-mto_gray/10 from-black p-10 h-full rounded-xl"
          >
            <FontAwesomeIcon
              icon={faLaptopCode}
              className="w-[5rem] text-[5rem]"
            />
            <span class="text-center"
              >SEC-TEAM<br />(Inactivo temporalmente)</span
            >
          </div>
        </div>
      </li>
    </ul>
  </main>
</Layout>
