---
import { ReactComponent as Instagram } from "@assets/icons/instagram.svg";
import { ReactComponent as Youtube } from "@assets/icons/youtube.svg";
import { ReactComponent as Github } from "@assets/icons/github.svg";
import { ReactComponent as Ffacebook } from "@assets/icons/ffacebook.svg";
import { ReactComponent as XTwitter } from "@assets/icons/xtwitter.svg";
import { ReactComponent as Linkedin } from "@assets/icons/linkedin.svg";
import { ReactComponent as Envelope } from "@assets/icons/envelope.svg";

interface Props {
  exhibitor: {
    photo: string;
    name: string;
    linkedin?: string;
    instagram?: string;
    github?: string;
    youtube?: string;
    x?: string;
    email?: string;
    facebook?: string;
  };
}

const {
  photo,
  name,
  linkedin,
  instagram,
  github,
  youtube,
  x,
  email,
  facebook,
} = Astro.props.exhibitor;
---

<div class="flex flex-col items-center">
  <div class="w-24 h-24 rounded-full overflow-hidden">
    <img src={photo} alt={name} class="w-full h-full object-cover" />
  </div>
  <h3 class="mt-4 text-xl font-bold">{name}</h3>
  <div class="flex mt-2 space-x-4">
    {
      linkedin && (
        <a href={linkedin} target="_blank" rel="noopener noreferrer">
          <Linkedin className="fill-gray-300 hover:fill-white w-6 h-6" />
        </a>
      )
    }
    {
      instagram && (
        <a href={instagram} target="_blank" rel="noopener noreferrer">
          <Instagram className="fill-gray-300 hover:fill-white w-6 h-6" />
        </a>
      )
    }
    {
      github && (
        <a href={github} target="_blank" rel="noopener noreferrer">
          <Github className="fill-gray-300 hover:fill-white w-6 h-6" />
        </a>
      )
    }
    {
      youtube && (
        <a href={youtube} target="_blank" rel="noopener noreferrer">
          <Youtube className="fill-gray-300 hover:fill-white w-6 h-6" />
        </a>
      )
    }
    {
      x && (
        <a href={x} target="_blank" rel="noopener noreferrer">
          <XTwitter className="fill-gray-300 hover:fill-white w-6 h-6" />
        </a>
      )
    }
    {
      email && (
        <a href={`mailto:${email}`} target="_blank" rel="noopener noreferrer">
          <Envelope className="fill-gray-300 hover:fill-white w-6 h-6" />
        </a>
      )
    }
    {
      facebook && (
        <a href={facebook} target="_blank" rel="noopener noreferrer">
          <Ffacebook className="fill-gray-300 hover:fill-white w-6 h-6" />
        </a>
      )
    }
  </div>
</div>
