---
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
import {
  faLinkedin,
  faInstagram,
  faGithub,
  faYoutube,
  faXTwitter,
  faFacebookF,
} from "@fortawesome/free-brands-svg-icons";
import { faEnvelope } from "@fortawesome/free-solid-svg-icons";

interface Props {
  exhibitor: {
    photo: string;
    name: string;
    linkedin?: string;
    instagram?: string;
    github?: string;
    youtube?: string;
    x?: string;
    email?: string;
    facebook?: string;
  };
}

const {
  photo,
  name,
  linkedin,
  instagram,
  github,
  youtube,
  x,
  email,
  facebook,
} = Astro.props.exhibitor;
---

<div class="flex flex-col items-center">
  <div class="w-24 h-24 rounded-full overflow-hidden">
    <img src={photo} alt={name} class="w-full h-full object-cover" />
  </div>
  <h3 class="mt-4 text-xl font-bold">{name}</h3>
  <div class="flex mt-2 space-x-4">
    {
      linkedin && (
        <a href={linkedin} target="_blank" rel="noopener noreferrer">
          <FontAwesomeIcon
            icon={faLinkedin}
            className="text-gray-300 hover:text-white w-6 h-6"
          />
        </a>
      )
    }
    {
      instagram && (
        <a href={instagram} target="_blank" rel="noopener noreferrer">
          <FontAwesomeIcon
            icon={faInstagram}
            className="text-gray-300 hover:text-white w-6 h-6"
          />
        </a>
      )
    }
    {
      github && (
        <a href={github} target="_blank" rel="noopener noreferrer">
          <FontAwesomeIcon
            icon={faGithub}
            className="text-gray-300 hover:text-white w-6 h-6"
          />
        </a>
      )
    }
    {
      youtube && (
        <a href={youtube} target="_blank" rel="noopener noreferrer">
          <FontAwesomeIcon
            icon={faYoutube}
            className="text-gray-300 hover:text-white w-6 h-6"
          />
        </a>
      )
    }
    {
      x && (
        <a href={x} target="_blank" rel="noopener noreferrer">
          <FontAwesomeIcon
            icon={faXTwitter}
            className="text-gray-300 hover:text-white w-6 h-6"
          />
        </a>
      )
    }
    {
      email && (
        <a href={`mailto:${email}`} target="_blank" rel="noopener noreferrer">
          <FontAwesomeIcon
            icon={faEnvelope}
            className="text-gray-300 hover:text-white w-6 h-6"
          />
        </a>
      )
    }
    {
      facebook && (
        <a href={facebook} target="_blank" rel="noopener noreferrer">
          <FontAwesomeIcon
            icon={faFacebookF}
            className="text-gray-300 hover:text-white w-6 h-6"
          />
        </a>
      )
    }
  </div>
</div>
